on:
  push:
    branches:
      - main
      - master
  schedule:
    - cron: '6 0 15 * *'

name: "check package on main"

jobs:
  check-package:
    runs-on: ubuntu-latest
    name: "check package"
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    permissions:
      contents: write
      pages: write
    steps:
      - uses: inbo/actions/check_pkg@token
